<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="main-admin container">
    <div class="sidebar">
      <ul class="sidebar-menu">
        <h1>
          <a href="#" target="_blank"><img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week5/logo-ANSWER.svg"
              alt="main-admin"></a>
        </h1>
        <a href="#">
          <li class="sidebar-menu-list">
            <i class="material-icons">insert_chart</i>
            <p> Dashboard </p>
          </li>
        </a>
        <a href="#">
          <li class="sidebar-menu-list">
            <i class="material-icons">question_answer</i>
            <p> Question </p>
          </li>
        </a>
        <a href="#">
          <li class="sidebar-menu-list">
            <i class="material-icons">assignment</i>
            <p> Assignment </p>
          </li>
        </a>
        <a href="#">
          <li class="sidebar-menu-list">
            <i class="material-icons">video_library</i>
            <p> Course </p>
          </li>
        </a>
        <a href="#">
          <li class="sidebar-menu-list ">
            <i class="material-icons">supervisor_account</i>
            <p> Admin </p>
          </li>
        </a>
        <a href="#">
          <li class="sidebar-menu-list">
            <i class="material-icons">insert_chart</i>
            <p> Dashboard </p>
          </li>
        </a>

      </ul>
      <div class="user-detail">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true"
          class="circle" alt="">
        <h2>
          <p>Andy Chen</p>
          <p>andy0401@mail.com</p>
        </h2>
      </div>
    </div>


    <%- contents %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>