*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  color: #121212;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #121212;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}


/* 清除ul li 樣式 */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-admin {
  display: flex;
}

.sidebar {
  width: 296px;
  background-color: #edf4ee;
  padding: 32px 0 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar img {
  margin-bottom: 32px;
}

.sidebar-menu-list {
  font-size: 16px;
  /*   border:1px solid #000; */
  display: flex;
}

.sidebar-menu li {
  margin-bottom: 26px;
}

.sidebar-menu-list .material-icons {
  padding-right: 16px;
}

.sidebar-menu-list:hover {
  color: #2a8356;
}

/* CSS 製作圓形圖片 */
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-detail {
  display: flex;
}

.user-detail img {
  margin-right: 16px;
}

.user-detail p:nth-child(1) {
  font-size: 16px;
  margin-bottom: 0;
  color: #121212;
  font-weight: 900;
}

.user-detail p:nth-child(2) {
  font-size: 14px;
  margin-bottom: 0;
  color: #0000009a;
}

.content {
  width: 984px;
  
  
}


.content-navbar{
  padding: 32px;
  display: flex;
  flex-direction:row; 
  justify-content: space-between;
  align-items: center;
  
  
}



.content-navbar-list {
  display: flex;
  align-items: center;
  
}

.content-navbar-list-h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  padding-right: 47px;
  
}

.content-navbar-list li:nth-child(2) {
  font-size: 16px;
  line-height: 19px;
  
}

.content-navbar-list-notice {
  display: flex;
  
}

.content-navbar-list-notice li:nth-child(1){
  margin-right: 26px;
  
}

.content-table{
  padding: 32px;
}

table{
  width: 920px;
  border-bottom:1px solid #000;
}

th{
  padding-right: 96px;
  border-bottom:1px solid #000;
}

td {
  padding: 19px 19px 19px 0;
 border-bottom:1px solid #CDDDCD;
}

tr:hover {
background-color: #EDF4EE;
}



.content-table .material-icons{
  font-size: 12px;
  color:#2A8356;
}

.content-table .material-icons:nth-child(1){
  padding-right: 25px;
  
}

.content-table td .material-icons {
  font-size: 24px;
  color:#121212;
  
}

.content-pagination{
  padding: 32px;

}

.content-navbar-list span{
  vertical-align: middle;
  font-size: 24px;
  padding-right: 8px;
}

.modal-header{
  border-bottom:0px solid #000;
}

.modal-footer{
   border-top:0px solid #000;
}

.modal-title{
  font-size: 24px;
  line-height: 29px;
}

.form-group-account{
  font-size: 20px;
  line-height: 24px;
  
}

.form-group-account-verification span{
  font-size: 16px;
  line-height: 19px;
}

.form-group-account-verification{
  margin-bottom: 18px;
}

.form-group-account-verification .material-icons{
  color:#E3006E;
}

.content_assignment{
  width: 920px;
  margin: o auto;
}